{% extends 'index.html' %}

{% block page_title %}
    {{ weekday }}, {{ date }} {{ time }}
{% endblock %}

{% block page_content %}

    <div class="row text-start">
        <a class="nav-link fg-primary" href="{% url 'date' date=date %}">
            Back to all on {{ date }}
        </a>
    </div>

    <div class="row">
        <div class="image-wrapper offset-lg-1 col-lg-10 offset-xl-2 col-xl-8">
            <img src="data:image/png;base64,{{ data }}" class="img-fluid">

            <div class="d-flex justify-content-between pt-3">
                <a class="nav-link fg-primary" href="{% url 'prev_image' date=date img=image %}">
                    <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                    </svg>
                    <span style="margin-left: .5em;">Previous</span>
                </a> 
                <a class="nav-link fg-primary" href="{% url 'next_image' date=date img=image %}">
                    <span style="margin-right: .5em;">Next</span>
                    
                    <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                </a> 
            </div>
        </div>
    </div>

    

    <script>
        document.onkeydown = e => {
            if (e.key === 'ArrowLeft') {
                document.location.href = "{% url 'prev_image' date=date img=image %}";
            } else if (e.key === 'ArrowRight') {
                document.location.href = "{% url 'next_image' date=date img=image %}";
            }
        }
    </script>


{% endblock %}