{% extends "base.html" %}

{% block content %}

<form method="post" action="{% url 'login' %}" class="d-flex w-50 m-auto flex-column fg-primary text-start">
    {% csrf_token %}
    <div class="p-4 d-flex flex-column">
        {{ form.username.label_tag }}
        {{ form.username }}
    </div>
    <div class="p-4 d-flex flex-column">
        {{ form.password.label_tag }}
        {{ form.password }}
    </div>
    
    <div class="text-center">
        <input type="submit" value="login" class="btn btn-primary">
    </div>
</form>

{% endblock %}